In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.graph_objects as go
import matplotlib.pyplot as plt
from zipfile import ZipFile

In [2]:
zip = ZipFile('PeNSE_2015_AMOSTRA2.zip')

In [3]:
zip.namelist()

['arquivos csv/',
 'arquivos csv/PENSE_AMOSTRA2_ALUNO.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ALUNOESCOLA.CSV',
 'arquivos csv/PENSE_AMOSTRA2_ESCOLA.CSV',
 'arquivos sas/',
 'arquivos sas/pense_amostra2_aluno.sas7bdat',
 'arquivos sas/pense_amostra2_alunoescola.sas7bdat',
 'arquivos sas/pense_amostra2_escola.sas7bdat',
 'arquivos xlsx/',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNO.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ALUNOESCOLA.xlsx',
 'arquivos xlsx/PENSE_AMOSTRA2_ESCOLA.xlsx',
 'Dicionario_PENSE_Microdados_AMOSTRA2.xls']

In [4]:
caminho_zip = zip.namelist()[1]

In [5]:
dados = pd.read_csv(zip.open(caminho_zip), sep=';', thousands='.', decimal=',')
dados.head()

,ANOPESQ,PAIS,REGEOGR,VB00004,VB01001,VB01002,VB01003,VB01004,VB01005,VB01006,...,ESTRATO_EXP,ESTRATOGEOREG,PESO,V0006,V0007,V0008,V0041,aluno,escola,turma
0,2015,76,1,1,2,1,13,7,7,1,...,1223,1,299.735235,1,2,4,1,1,1,296
1,2015,76,1,1,2,1,14,4,7,1,...,1223,1,355.170081,1,2,4,1,2,1,296
2,2015,76,1,1,1,4,13,6,7,1,...,1223,1,299.735235,1,2,4,1,3,1,296
3,2015,76,1,1,1,1,14,6,7,1,...,1223,1,355.170081,1,2,4,1,4,1,296
4,2015,76,1,1,1,1,13,9,7,1,...,1223,1,299.735235,1,2,4,1,5,1,296

In [6]:
dados.columns

Index(['ANOPESQ', 'PAIS', 'REGEOGR', 'VB00004', 'VB01001', 'VB01002',
       'VB01003', 'VB01004', 'VB01005', 'VB01006',
       ...
       'ESTRATO_EXP', 'ESTRATOGEOREG', 'PESO', 'V0006', 'V0007', 'V0008',
       'V0041', 'aluno', 'escola', 'turma'],
      dtype='object', length=181)

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16556 entries, 0 to 16555
Columns: 181 entries, ANOPESQ to turma
dtypes: float64(10), int64(171)
memory usage: 22.9 MB

In [12]:
dados.shape

(16556, 181)

In [39]:
caminho_dicio = zip.namelist()[12]
dicio_dados = pd.read_excel(zip.open(caminho_dicio))
dicio_dados.head(20)

   VARIÁVEL                              QUESTIONÁRIO DO ALUNO
0   ANOPESQ                Ano em que a pesquisa foi realizada
1      PAIS                                               País
2        76                                             Brasil
3   REGEOGR                                  Região geográfica
4         1                                              Norte
5         2                                           Nordeste
6         3                                            Sudeste
7         4                                                Sul
8         5                                       Centro-Oeste
9   VB00004  Prezado(a) estudante, você concorda em partici...
10        1                                                Sim
11  VB01001                                 Qual é o seu sexo?
12        1                                          Masculino
13        2                                           Feminino
14  VB01002                          Qual é a sua cor ou raça?
15        1                                             Branca
16        2                                              Preta
17        3                                            Amarela
18        4                                              Parda
19        5                                           Indígena

### Vamos criar uma função que retornará um dicionário condicionando nossas perguntas e respostas

In [144]:
def create_dict(dicio_dados, p):
    result_dict = {}
    question = dicio_dados[dicio_dados['VARIÁVEL']==p]['QUESTIONÁRIO DO ALUNO'].values[0]
    result_dict['pergunta'] = question
    
    
    # agora falta construir um loop para capturar as respostas de cada questão
    # segue abaixo o que foi feito até o momento
    
    return result_dict

In [122]:
question = dicio_dados[dicio_dados['VARIÁVEL']=='VB01001']['QUESTIONÁRIO DO ALUNO']
a = question.index[0]
a = a + 14
valor = dicio_dados.iloc[a]['VARIÁVEL']

In [126]:
lista = []

while str(valor).isnumeric() or str(valor)[0] == '-':

SyntaxError: unexpected EOF while parsing (<ipython-input-126-22d0309d030c>, line 2)

In [142]:
lista = [['Salvador', 'Bahia']]

In [143]:
dict(lista)

{'Salvador': ['Bahia', 'Noeor']}