<a href="https://colab.research.google.com/github/KPxto/bootcamp-alura/blob/master/Projeto_M%C3%B3dulo_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Olá **Cientista**!

Bem vinda e bem vindo ao **mega desafio do Módulo 01**, neste desafio queremos que você aplique tudo que aprendeu no curso, analisando uma outra informação ~~referente a base de dados de [produção hospitalar](http://www2.datasus.gov.br/DATASUS/index.php?area=0202&id=11633&VObj=http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv/qi), seja número de internação, óbito, AIH ou taxa de mortalidade.~~ 

**P.S: Infelizmente o DataSUS está fora do ar por tempo indeterminado, para você não parar seu projeto, adicionamos no [GitHub](https://github.com/alura-cursos/agendamento-hospitalar/tree/main/dados) do curso, duas novas bases para você utilizar neste projeto (COVID-19 e Óbitos).**

Uma base é dos **casos de COVID-19 baixadas do projeto [BRASIL.IO](https://brasil.io/dataset/covid19/caso/)**, outra são os números de óbitos registrados no cartório civil desde 1970 retirado do **[Kaggle](https://www.kaggle.com/amandalk/registered-deaths-brazil)**.

Vocês podem escolher qualquer uma das duas bases de dados, a de COVID-19 é mais desafiadora e você vai precisar descompactar o arquivo por ser grande e entrar no site do Brasil.IO para entender todas as features presentes (No Brasil.IO tem diversas bases sobre COVID-19, estamos usando a chamada **Casos**). A base de óbito é mais simples e relativamente semelhate a utilizada no curso.

Algumas dicas para você mandar bem no desafio final, capriche nas análises, escreva suas conclusões e hipóteses (mesmo que resultado seja inconclusivo) e não esqueça de colocar um resumo dos pontos que julgar mais interessantes do seu projeto.



E para que o seu projeto tenha a oportunidade de ser avalido pelo Thiago G. Santos e Átila Iamarino, ao vivo na **live de revisão de projetos** submeta o link compartilhado do seu notebook [neste formulário](https://docs.google.com/forms/d/e/1FAIpQLSd1jemhvdo8sM6e-bgOryyZ2P3YuMO6E_mUQXabyBX_xhuZQQ/viewform?usp=sf_link) até dia 22/11 às 23h59.

Para facilitar a vida dos seus instrutores favoritos, no momento da correção, algumas dicas de como estruturar seu projeto:

- Como título do seu **Colab** coloque seu nome (Ex: Thiago_Gonçalves.ipynb)
- Crie um resumo das suas análises na parte superior do notebook
- Informe no resumo os dados que vc vai analisar (Ex: Finaceiros e Internações)

Qualquer dúvida não deixe de perguntar no Discord, compatilhe seu projeto nas redes sociais e crie um repositório no github, esse é o início do seu portifólio em Data Science.



Fique a vontade para utilizar esse notebook como template projeto.

## Resumo:

Faça aqui o resumo das suas analises, destacando os pontos principais do seu projeto

- Analise e comparativo das cidades
- Analise e comparativo por regioes

## Análise dos dados:

Inicie aqui o desenvolvimento do seu projeto, não esqueça de adicionar textos curtos e objetivos para que os avaliadores entendam sua linha de raciocínio e as conclusões que você está chegando crie uma narrativa convincente e coerênte aos dados analisados.

## Importando Bibliotecas e preparando notebook

In [127]:
import pandas as pd
import numpy as np
import collections
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import seaborn as sns

# escolhendo estilo de plotagem
plt.style.use('fivethirtyeight')

# setando opção de visualização do número
pd.options.display.float_format = '{:.2f}'.format

#### Carregando nosso dataframe

    - Para a coluna 'city', os valores nulos vem como NA ou 'Importados/Indefinidos'
    - Para facilitar nosso trabalho de limpeza configuramos o pandas para que considere como NA todos valores descritos 'Importados/Indefinidos' na coluna 'city'

In [128]:
df = pd.read_csv('caso.csv.gz', na_values=['Importados/Indefinidos'])

In [129]:
# vamos pegar 5 dados aleatorios para conhecer nosso conjunto de dados
df.sample(5)

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
102291,2020-09-04,GO,Catalão,city,1571,48,164,False,108823.00,110983.00,5205109.00,1415.53,0.03
477589,2020-08-06,MG,Teixeiras,city,10,0,67,False,11661.00,11670.00,3168507.00,85.69,0.00
710901,2020-09-27,RS,Farroupilha,city,1688,14,192,False,72331.00,73061.00,4307906.00,2310.40,0.01
653694,2020-07-01,RO,Nova Brasilândia D'Oeste,city,17,0,51,False,20474.00,20489.00,1100148.00,82.97,0.00
970760,2020-10-03,SP,Valinhos,city,2821,92,189,False,129193.00,131210.00,3556206.00,2149.99,0.03

<br>

#### Checando valores nulos e tipos de dados

Antes de verificarmos tipos de dados e valores nulos, vamos verificar o tamanho do nosso dataframe

In [132]:
print(f'Nosso dataset tem {df.shape[0]} linhas e {df.shape[1]} colunas.')

Nosso dataset tem 974824 linhas e 13 colunas.

<br>
Desse total de linhas quantas são valores NA por coluna?

Vamos achar essa resposta com o codigo abaixo

In [176]:
df.isna().sum()

date                                  0
state                                 0
city                              10366
place_type                            0
confirmed                             0
deaths                                0
order_for_place                       0
is_last                               0
estimated_population_2019          3772
estimated_population               3772
city_ibge_code                     3772
confirmed_per_100k_inhabitants    17343
death_rate                            0
dtype: int64

<br>
Agora veremos quantos valores válidos por coluna e seus respectivos tipos de dados

In [178]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974824 entries, 0 to 974823
Data columns (total 13 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   date                            974824 non-null  object
 1   state                           974824 non-null  object
 2   city                            964458 non-null  object
 3   place_type                      974824 non-null  object
 4   confirmed                       974824 non-null  int64
 5   deaths                          974824 non-null  int64
 6   order_for_place                 974824 non-null  int64
 7   is_last                         974824 non-null  bool
 8   estimated_population_2019       971052 non-null  float64
 9   estimated_population            971052 non-null  float64
 10  city_ibge_code                  971052 non-null  float64
 11  confirmed_per_100k_inhabitants  957481 non-null  float64
 12  death_rate                      974824 non-null  float64
dtypes: bool(1), float64(5), int64(3), object(4)
memory usage: 90.2+ MB

>A coluna **date** está como *string* e deverá ser convertida para tipo *data*

<br>

Conforme sugerido pela própria documentação para ser desconsiderada, vamos excluir a coluna **estimated_population_2019**

In [243]:
df.drop('estimated_population_2019', axis=1, inplace=True)

Também vamos fazer a conversão da coluna **date**

In [17]:
df['date'] = pd.to_datetime(df['date'], yearfirst=True)

<br>

#### Separando dataframes...

Considerando que os valores NA da coluna **city** ocorrem quando o registro refere-se a estado (descrito como *state* na coluna **place_type**), vamos criar um dataframe somente para dados relacionados às cidades.

<br>
Mais tarde também faremos um dataframe que considerará somente estados e analisaremos essas duas entidades separadamente.

In [246]:
# vamos filtrar as linhas onde a coluna city não é nula e atribuí-la a variável df_cidade
df_cidade = df[df['city'].notnull()]
# uma amostra aleatório de 5 linhas
df_cidade.sample(5)

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
520671,2020-11-13,PE,Ingazeira,city,74,1,163,False,4543.00,2607109.00,1628.88,0.01
594030,2020-08-27,PR,Catanduvas,city,64,0,88,False,10167.00,4105003.00,629.49,0.00
70944,2020-06-10,CE,Ipaumirim,city,10,1,50,False,12485.00,2305704.00,80.10,0.10
357289,2020-07-28,MG,Aricanduva,city,1,0,32,False,5269.00,3104452.00,18.98,0.00
726123,2020-08-23,RS,Mato Queimado,city,5,0,32,False,1629.00,4312179.00,306.94,0.00

<br>

Para provar que **df_cidade** traz somente dados das cidades vamos checar os valores únicos da coluna **place_type**

In [245]:
df_cidade['place_type'].unique()

array(['city'], dtype=object)

In [247]:
# excluindo a coluna place_type já que a mesma não faz mais sentido nesse dataframe
df_cidade.drop('place_type', axis=1, inplace=True)

c:\python\python37\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [237]:
round(30/(df_cidade.loc[477052, 'estimated_population']/100000), 2)

620.86

In [248]:
df_cidade.isna().sum()

date                                  0
state                                 0
city                                  0
confirmed                             0
deaths                                0
order_for_place                       0
is_last                               0
estimated_population                  0
city_ibge_code                        0
confirmed_per_100k_inhabitants    13565
death_rate                            0
dtype: int64

In [250]:
df_cidade[df_cidade['confirmed_per_100k_inhabitants'].isna()]

,date,state,city,confirmed,deaths,order_for_place,is_last,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
5255,2020-06-02,AC,Jordão,0,0,15,False,8473.00,1200328.00,nan,0.00
5256,2020-06-01,AC,Jordão,0,0,14,False,8473.00,1200328.00,nan,0.00
5257,2020-05-31,AC,Jordão,0,0,13,False,8473.00,1200328.00,nan,0.00
5258,2020-05-30,AC,Jordão,0,0,12,False,8473.00,1200328.00,nan,0.00
5259,2020-05-29,AC,Jordão,0,0,11,False,8473.00,1200328.00,nan,0.00
...,...,...,...,...,...,...,...,...,...,...,...
966030,2020-05-18,SP,Tarumã,0,0,18,False,15183.00,3553955.00,nan,0.00
966031,2020-05-17,SP,Tarumã,0,0,17,False,15183.00,3553955.00,nan,0.00
966032,2020-05-16,SP,Tarumã,0,0,16,False,15183.00,3553955.00,nan,0.00
971532,2020-03-25,SP,Vargem Grande Paulista,0,1,2,False,53468.00,3556453.00,nan,0.00
974674,2020-05-21,SP,Álvaro de Carvalho,0,0,14,False,5274.00,3501400.00,nan,0.00